@using AspNetCoreProject.Entites
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@addTagHelper AspNetCoreProject.TagHelpers.*,AspNetCoreProject
@model Urun
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="" class="w-100 img-thumbnail img-fluid" alt="@Model.Ad" /> @*thumbnail çerçeve içerisine veriyi alır!*@
        </div>
        <div class="col-md-9">
            @ViewBag.Session
            <div class="card">
                <div class="card-header">
                    @Model.Ad
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Ad</h5>
                    <p class="card-text">
                    <strong>Kategorileri:</strong> <getirKategoriAd urun-id="@Model.Id"></getirKategoriAd>
                    <br />
                    @Model.Fiyat
                    </p>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Geri Dön</a>
                    <a href="#" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>


